h1{
    font-family: 'Verdana'  ;
    color:  #DE101D;
    font-size: 2em;

}

p{
    color: #850F16;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif
}

img{
    border: 2px solid black;
}

div{
    background-color: #DB5B0B;
    border: 2px solid #8F3C09 ;
}

a{
    text-decoration:none;
    color: white;
}